@import '@/styles/utils/variables';
@import '@/styles/utils/breakpoints';

// Базовые стили toastify
@import 'react-toastify/dist/ReactToastify.css';

.Toastify__toast-container {
  z-index: 10000; // Поверх всего
  
  @include mobile-only {
    width: 100%;
    padding: 0 16px;
    top: 24px;
  }
}

.Toastify__toast {
  border-radius: 6px;
  font-family: inherit;
  box-shadow: var(--shadow-lg);
  padding: 12px 16px;
  border: 1px solid var(--color-border);
  font-size: 13px !important;
  
  &-theme--light {
    background: var(--color-background);
    color: var(--color-text-primary);
  }
  
  &-theme--dark {
    background: #1a1a1a;
    color: #f3f3f3;
    border-color: #333;
  }
}

.Toastify__toast-body {
  padding: 0;
  margin: 0;
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 1.4 !important;

  & > div {
    font-size: 11px !important;
    font-weight: 400 !important;
    line-height: 1.4 !important;
  }
  
  * {
    font-size: 13px !important;
  }
}

.Toastify__close-button {
  color: var(--color-text-secondary);
  opacity: 0.7;
  
  &:hover {
    opacity: 1;
  }
}

.Toastify__toast-icon {
  width: 20px;
  margin-right: 12px;
}

.Toastify__progress-bar {
  height: 4px !important;
  bottom: 0;
  left: 0;
  width: 100%;
  
  &--bg {
    height: 4px !important;
    opacity: 0.1;
  }
  
  &--success,
  &--error,
  &--info,
  &--warning {
    // Для светлой темы - чёрный, для тёмной - белый
    background: var(--color-text-primary);
  }
}

// Кастомные стили для типов
.Toastify__toast--success,
.Toastify__toast--error,
.Toastify__toast--info,
.Toastify__toast--warning {
  .Toastify__toast-icon svg {
    // Приглушённый зелёный акцентный цвет
    fill: var(--color-primary-text);
  }
}
