// Light Theme - Buttons

[data-theme="light"],
:root {
  --button-primary-bg: #5ADC5A;
  --button-primary-text: #fafafa;
  --button-primary-hover: #4BC04B;

  --button-secondary-bg: #f5f5f5;
  --button-secondary-text: #171717;
  --button-secondary-hover: #e5e5e5;
}


