// Light Theme - Forms

[data-theme="light"],
:root {
  --input-background: #fafafa;
  --input-border: #d4d4d4;
  --input-border-focus: #5ADC5A;
  --input-text: #171717;
  --input-placeholder: #737373;
}


