@use 'utils' as *;

.app-bar {
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(5px);
  box-shadow: none;
  background: var(--nav-background);
  border-bottom: 1px solid rgba(255, 255, 255, 0);

  // Тень при скролле
  &--scrolled {
    @include dark-mode {
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      background: rgba(15, 15, 15, 0.8); // Более тёмный фон при скролле
      border-bottom: 1px solid #222; // Серый нижний border
    }

    @include light-mode {
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      background: rgba(255, 255, 255, 0.8); // Явно белый фон при скролле
      border-bottom: 1px solid #fff; // Серый нижний border
    }
  }
}

.app-bar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--space-xl);
  max-width: 100%;

  // Mobile (<768px)
  height: 60px;
  padding: 0 20px;

  // Tablet (768-1024px)
  @include md {
    height: 80px;
    padding: 0 40px;
  }

  // Desktop (>1024px)
  @include lg {
    height: 80px;
    padding: 0 40px;
  }

  // Large Desktop (>1440px)
  @media (min-width: 1441px) {
    padding: 40px;
  }
}

