/**
 * Article Author Block - основные стили контейнера
 * 
 * Блок отображается под заголовком статьи.
 * Горизонтальная компоновка: аватар слева, информация справа.
 */

.article-author-block {
  display: flex;
  gap: 1.2em;
  align-items: center;
  margin: 2.5em 0 2em;
  padding: 0;
}

// Адаптивность
@media (max-width: 640px) {
  .article-author-block {
    display: grid;
    grid-template-columns: 80px 1px 1fr;
    grid-template-rows: auto auto;
    gap: 1em;
    align-items: start;
    margin: 2em 0 1.5em;
    position: relative;

    // Позиционирование подкомпонентов в grid
    .article-author-avatar {
      grid-column: 1;
      grid-row: 1;
    }

    .article-author-meta {
      grid-column: 1;
      grid-row: 2;
    }

    // Перемещаем иконки социальных сетей в правый блок под описанием
    .article-author-meta__socials {
      position: absolute;
      left: calc(80px + 1em + 1px + 1em);
      right: 0;
      top: auto;
      bottom: 0;
      margin-top: 0.5em;
      z-index: 1;
    }

    .article-author-divider {
      grid-column: 2;
      grid-row: 1 / 3;
    }

    .article-author-description {
      grid-column: 3;
      grid-row: 1;
    }
  }
}
