/**
 * Full Width Layout (только Content)
 *
 * Базовые стили компонента.
 * Адаптивность и брейкпоинты вынесены в отдельный файл _responsive.scss
 */

@use './responsive-layout';
@use './responsive-sizing';

.article-layout-full-width {
  // Базовая структура
  width: 100%;

  // Основной контент
  &__content {
    width: 100%;
  }
}
